@{
  Layout="_Layout";
}

@model HairSalon.Models.Stylist

<h2>Delete Stylist</h2>

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
    <li>@Html.ActionLink("Stylists", "Index")</li>
  </ul>
</nav>

<h4>Did they quit?</h4>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}