@{
  Layout="_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit Stylists</h2>

<h4>Edit this Stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Service)
  @Html.EditorFor(model => model.Service)

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>