@{
  Layout="_Layout";
}

@model HairSalon.Models.Client

<h2>Add A Client</h2>

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Clients", "Index")</li>
    <li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
  </ul>
</nav>

<p><strong>NOTE:</strong> Please make sure that there is at least 1 stylist added before a client can be added!</p>
<p>Follow this @Html.ActionLink("Link", "Create", "Stylists") to add a stylist.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br>
  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)
  <br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>
  <input type="submit" value="Add new Client"/>
}