@{
  Layout="_Layout";
}

@using HairSalon.Models;

<h2>Clients</h2>

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
  </ul>
</nav>

@if (@Model.Count == 0)
{
  <h3>There Are No Clients Added Yet</h3>
}

<ul>
  @foreach(Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</li>
  }
</ul>

<p>@Html.ActionLink("Add a new client", "Create")</p>